input[type="text"], select, textarea, input[type="email"], input[type="search"], input[type="password"] {
    padding: 2px;
    margin-bottom: 20px;
    background: #f3f3f3;
    font-size: 13px;
    box-shadow: none;
}



.Req {
    color: red;
    font-size: 12px;
}


